.btn {
    width: 153px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background-color: $accent-color;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &_menu {
        margin-top: 6px;
    }
    &_main{
        width: 303px;
        height: 54px;
        font-size: 16px;
        margin-top: 79px;
    }
}
