@media (max-width: 991px) {
    .container {
        max-width: 90%;
    }
    .benefits__item{
        padding: 0 8px;
    }
    .slider-tns {
        &__prev{
            display: none;
        }
        &__next{
            display: none;
        }
    }
    .cards-product {
        &_active {
            justify-content: center;
        }
    }
}
@media (max-width: 767px) {
    .header{
        &__logo {
            width: 160px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        &__phone{
            font-size: 16px;
        }
    }
    .promo{
        min-height: 565px;
        background: url(../../img/bg/first_section.jpg) -430px top/cover no-repeat;
        &__wrapper {
            align-items: center;
            margin-top: 42px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 24px;
        }
    }
    .btn {
        &_menu {
            margin-top: 4px;
            width: 130px;
            height: 23px;
            font-size: 11px;
        }
        &_main {
            width: 277px;
            height: 48px;
            font-size: 15px;
            margin-top: 53px;
        }
    }
    .benefits {
        padding: 40px 0 35px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 35px;
        }
        &__item {
            padding: 0;
            margin-top: 40px;
            &:first-child {
                margin-top: 0;
            }
        }
        &__subtitle{
            margin-top: 14px;
        }
    }
    .title {
        font-size: 25px;
        &_left {
            text-align: center;
            width: 100%;
        }
    }
    .consultation {
        padding: 78px 0 50px 0;
        &__descr {
            text-align: center;
            font-size: 17px;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .slider-tns {
        padding: 53px 0;
        width: 560px;
        .tns-nav {
            button {
                width: 24px;
                height: 4px;
            }
        }
    }
    .catalog__tab {
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        &__logo, &__official, &__contacts {
            margin-top: 15px;
            padding: 0 10px;
        }
        &__logo {
            width: 230px;
        }
        &__official {
            font-size: 12px;
            span {
                font-size: 18px;
            }
        }
        &__phone {
            font-size: 18px;
        }
    }
    .btn {
        &_menu{
            width: 151px;
            height: 30px;
            font-size: 12px;
        }
        &_main{
            width: 239px;
            height: 58px;
            font-size: 15px;        
        }
        &_sumbit {
            width: 269px;
            height: 47px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 22px;
        &_left {
            line-height: 35px;
        }
    }
    .promo {
        background: url(../../img/bg/first_section.jpg) right top/cover no-repeat;
        &__header, &__subheader {
            text-align: center;
        }
        &__icons{
            flex-direction: column;
            margin-top: 26px;
        }
        &__icon {
            margin-top: 30px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    .consultation {
        min-height: 565px;
        padding: 44px 0 50px 0;
        &__descr {
            font-size: 14px;
        }
    }
    .feed-form {
        width: 269px;
        input {
            height: 47px;
            font-size: 13px;
        }
    }
    .slider-tns {
        padding: 53px 0;
        width: 295px;
        .tns-nav {
            button {
                width: 18px;
            }
        }
    }
    .catalog__tabs {
        flex-direction: column;
    }
    .catalog__tab:not(:last-child) {
        margin-bottom: 10px;
    }
    .cards-product {
        margin-top: 10px;
    }    
    .card-product {
        margin-right: 0;
    }
}